<!DOCTYPE html>
<html>
  <head>
    <title>TumblyTube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- Meta -->
    <meta name="viewport" content="width=device-width initial-scale=1">

    <!-- JS Window-->
    <script type="text/javascript">
      window.tumbleLogoURL = "<%= image_url('tumble.png') %>";
      window.signupURL = "<%= image_url('signup.svg') %>";
    </script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
